.header {
width: 100%;
  .info{

    display: flex;
    justify-content: space-between;
    align-items: center;
    .socials {
      display: flex;
      justify-content: flex-start;
      .line {

      }
    }
    .catalog {
      margin:1rem ;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      span {
        font-size: 2rem;
      }

    }



  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    border-bottom: 3rem solid var(--gold);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  }

}

