

.btn {
  border: none;
  outline: none;
  filter: brightness(1);
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.3s;
  }

  &--primary {
    background-color: var(--gold);
    color: white;
  }

  &--secondary {
    background-color: var(--secondary);
    color: white;
  }

  &--success {
    background-color: var(--success);
    color: white;
  }

  &--info {
    background-color: var(--info);
    color: white;
  }

  &--warning {
    background-color: var(--warning);
    color: white;
  }

  &--danger {
    background-color: var(--danger);
    color: white;
  }

  &--light {
    background-color: var(--light);
    color: black;
  }

  &--dark {
    background-color: var(--dark);
    color: white;
  }

  &--small {
    transform: scale(0.8);
  }

  &--medium {
    transform: scale(1.2);
  }

  &--large {
    transform: scale(1.4);
  }

  &--FB {
    background-color:white;
    color:black;
    &:hover {
      background-color: var(--FB);
      transition: 0.3s;
      color:white;
    }
  }

  &--WA {
    background-color:white;
    color:black;
    &:hover {
      background-color: var(--WA);
      transition: 0.3s;
      color:white;
    }
  }

  &--YT {
    background-color:white;
    color:black;
    &:hover {
      background-color: var(--YT);
      transition: 0.3s;
      color:white;
    }
  }
  &--EM {
    background-color: white;
    color: black;

    &:hover {
      background-color: var(--EM);
      transition: 0.3s;
      color: white;
    }
  }
    &--Tlg {
      background-color:white;
      color:black;
      &:hover {
        background-color: var(--Tlg);
        transition: 0.3s;
        color:white;
      }
  }

  &--br-0 {
    border-radius: 0;
  }

  &--br-10 {
    border-radius: 10px;
  }

  &--br-15 {
    border-radius: 15px;
  }

  &--br-30 {
    border-radius: 30px;
  }

  &--br-45 {
    border-radius: 45px;
  }

  &--br-50 {
    border-radius: 50%;
  }




}