:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --FB:#4267B2;
  --YT:#FF0000;
  --EM:#34B7F1;
  --WA:#25D366;
  --Tlg:#0088cc;

//  spicaal in theme
  --gold:rgb(208,158,36);
}