$background-url: var(--background-url);
$text-color-01: var(--text-color-01);
$text-color-02: var(--text-color-02);
$body-color: var(--body-color);
$primary-color: var(--primary-color);
$primary-color-light: var(--primary-color-light);
$primary-color-dark: var(--primary-color-dark);
$color-transparent: transparent;
$toggle-color: var(--toggle-color);
$color-01: var(--color-01);
$white-color: var(--white-color);
$secondary-color: var(--secondary-color);
$secondary-color-light: var(--secondary-color-light);

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;

$sidebar-size-full: 280px;
$sidebar-size-half: 88px;

// Font Family  definition

$font-family-vazir: Vazirmatn, sans-serif;
$font-family-IranYekan: IranYekan, sans-serif;

//customize :
$gold:#f6821f;
$primColor:#f6821f;
$second:#3f4064;
$graytext:#767790;

